<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account</title>
    <link rel="stylesheet" href="account.css" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="background-gradient.css">
    <link rel="stylesheet" href="mediaQuerries.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <form action="/account?_method=DELETE", method="post">
      <button type="submit">Log Out</button>
    </form>
  </body>
</html>
