<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Schedule</title>
    <link rel="stylesheet" href="mySchedule.css" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="mediaQuerries.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <script src="login.js"></script>
  </body>
</html>
