<div id="background-gradient"></div>
<nav id="desktop-nav">
  <div class="logo">Taxi Buddy</div>
  <ul class="nav-links">
    <li><a href="mySchedule">My Schedule</a></li>
    <li><a href="taxiPooling">Taxi Pooling</a></li>
    <li><a href="aboutUs">About us</a></li>
    <li><a href="account">Account</a></li>
  </ul>
</nav>
<nav id="hamburger-nav">
  <div class="logo">Taxi Buddy</div>
  <div class="hamburger-menu">
    <div class="hamburger-icon" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="menu-links">
      <li><a href="mySchedule">My Schedule</a></li>
      <li><a href="taxiPooling">Taxi Pooling</a></li>
      <li><a href="aboutUs">About us</a></li>
      <li><a href="account">Account</a></li>
    </div>
  </div>
</nav>
