* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
}

:root {
  --shadow-color: 150deg 35% 38%;
  --shadow-color1: 153deg 34% 38%;
  --shadow-elevation-medium:
    0.6px 0.3px 0.8px hsl(var(--shadow-color) / 0.36),
    1.9px 1.1px 2.5px -0.8px hsl(var(--shadow-color) / 0.36),
    4.7px 2.8px 6.2px -1.7px hsl(var(--shadow-color) / 0.36),
    11.5px 6.9px 15.1px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
    0.2px 0.2px 0.3px hsl(var(--shadow-color1) / 0.34),
    1.2px 1.4px 2.1px -0.4px hsl(var(--shadow-color1) / 0.34),
    2.2px 2.6px 3.8px -0.7px hsl(var(--shadow-color1) / 0.34),
    3.7px 4.2px 6.3px -1.1px hsl(var(--shadow-color1) / 0.34),
    5.9px 6.7px 10px -1.4px hsl(var(--shadow-color1) / 0.34),
    9.2px 10.5px 15.7px -1.8px hsl(var(--shadow-color1) / 0.34),
    14px 16px 23.9px -2.1px hsl(var(--shadow-color1) / 0.34),
    20.6px 23.6px 35.2px -2.5px hsl(var(--shadow-color1) / 0.34);
}

#mySchedule-wrapper {
  margin-top: 20px;
  padding: 0px 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

select {
  appearance: none;
  border: 1px black solid;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  padding: 0;
}

span select {
  width: 100px;
}

span select::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.new-booking,
.booked-taxi {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-booking {
  gap: 10%;
}

.booked-taxi {
  position: relative;
}

.booked-taxi button {
  position: absolute;
  bottom: 7%;
}
.new-booking,
.booked-taxi {
  border: 1px rgba(0, 0, 0, 0.5) solid;
  padding: 5px;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.date-time {
  align-self: stretch;
  display: flex;
  justify-content: space-around;
  margin-top: 7%;
}

.people {
  margin-top: 15%;
}
.span-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.span-wrapper span {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

form button {
  border: none;
  font-size: 0.9rem;
  padding: 10px 20px;
  border-radius: 1.5rem;
  background-color: rgb(255, 255, 255, 0.4);
  transition: all 300ms ease;
  border: 1px solid rgb(255, 255, 255, 0);
  box-shadow: var(--shadow-elevation-medium);
}

form button:hover {
  cursor: pointer;
  box-shadow: var(--shadow-elevation-high);
}